<h1>Cube Artwork</h1>

<% @posts.each do |post| %>
  <section>
    <h2><%= post.title %></h2>
    <h4><%= "#{DateTime.parse(post.created_at.to_s)} - #{post.comments.length} Comments" %></h4>
    <img src='<%= post.photo_url %>'>
    <p><%= post.body %></p>
  </section>
<% end %>
